$company-color: #0067b4;
$sopp-primary: #5dc9e9;
$sopp-secondary: #163a62;
$sopp-alternative: #2b6387;
$sopp-white: #ffffff;
#home-page {
  background-color: $sopp-primary;

  @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .welcome-message {
    font-size: 40px;
    margin-bottom: 20px;
    animation: fade-in-out 3s;
  }

  .welcome-message.hide {
    display: none;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .main-content {
    text-align: center;
    opacity: 0;
    animation: fade-in 1s forwards;
    z-index: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .main-screen {
    text-align: center;
    padding: 20px;
  }

  button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .menu {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .exit-button {
    position: absolute;
    top: 10px;
    right: 10px;

    button {
      background-color: $sopp-primary;
    }
  }

  .dropdown-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 10px;
    text-align: left;
  }

  .cards {
    display: flex;
    gap: 10px;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    margin-top: 10px;

    button {
      background-color: $sopp-primary;
      h5 {
        color: $sopp-alternative;
      }
    }
  }

  .card {
    width: 150px;
    height: 200px;
    border: 3px solid $sopp-alternative;
    display: grid;
    transition: transform 0.3s ease;

    .image {
      width: 70%;
      height: auto;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 0;
      border: 0;
    }
  }

  .card:hover {
    transform: scale(1.1);
  }

  .image-small {
    width: 40px;
    height: auto;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .nav-list li {
    flex: 1;
    text-align: center;
  }

  .nav-list a {
    text-decoration: none;
    padding: 10px;
    display: block;
  }

  .navbar {
    background-color: #333; /* Set your desired background color */
    padding: 10px;
  }

  .username-sign {
    text-align: center;
    font-size: 40px;
    margin: 0;
  }

  .balance-sign {
    font-weight: bold;
    margin: 0;
  }
}
