$company-color: #0067b4;
$sopp-primary: #5dc9e9;
$sopp-secondary: #163a62;
$sopp-alternative: #2b6387;
$sopp-white: #ffffff;
#login-page {
  .login-container {
    background-color: $sopp-primary;
    text-align: center;
  }

  .register-link {
    color: $sopp-alternative;
  }

  .col-4,
  .col-8 {
    padding: 10px;
    height: 100vh;
    margin: 0 auto;
    background-color: $sopp-primary;
  }

  .input-container {
    padding: 10px;
  }

  .button-container {
    padding: 10px;
  }

  h2 {
    margin: 0;
    padding: 10px;
  }

  .row {
    text-align: center;
  }

  .btn {
    width: 100%;
    background-color: $sopp-alternative;
    border: none;
  }

  .btn-action {
    font-size: larger;
  }

  .sopp-header {
    text-align: center;
    color: $sopp-white;
  }

  .sopp-color {
    background-color: $sopp-alternative;
  }

  a {
    color: $sopp-white;
  }
}
