$company-color: #0067b4;
$sopp-primary: #5dc9e9;
$sopp-secondary: #163a62;
$sopp-alternative: #2b6387;
$sopp-white: #ffffff;
#create-payment-page {
  background-color: $sopp-primary;
  .create-payment-container {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border: 2px solid $sopp-alternative;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn {
    width: 100%;
    background-color: $sopp-alternative;
    border: none;
  }

  .btn-back {
    background-color: $sopp-white;
    color: $sopp-alternative;
  }

  .input-container {
    padding: 10px;
  }
  
  .button-container {
    padding: 10px;
  }

  .btn-action{
    font-size:larger;
  }

  .holder {
    padding: 10px;
    height: 100vh;
    margin: 0 auto;
  }

  select {
    width: 100%;
  }

  img{
    color: black;
    width: 20px;
    height: 20px;
  }

  input{
    color: gray;
  }

  select {
    color: gray;
  }
}
